<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-offset-4 col-md-4">
<div class="table-bordered">
<table class="table">
	<tbody>
		<tr>
		  <td><strong>Name:</strong></td>
		  <td><%= @staff.name %></td>
		</tr>

		<tr>
		  <td><strong>Profession:</strong></td>
		  <td><%= @staff.profession %></td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<br>
<div class="row">
<div class="col-md-offset-7 col-md-2">
<div class="btn-group">
	<%= link_to 'Edit', edit_staff_path(@staff), class: "btn btn-default" %>
	<%= link_to 'Back', staffs_path, class: "btn btn-default" %>
</div>
</div>
</div>
